$background-color: #1B2737;
$input-color: #0A1119;
$popup-color: #333F4F;
$font-color: #FFFFFF;
$font-color-neutral: #76B9E8;
$font-color-positive: #6CDE5D;
$font-color-negative: #DE6666;

$input-height: 3rem;
$input-radius: calc($input-height / 2);
$popup-radius: 10px;